@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", "sans sérif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0065fc;
  --dark-grey: #d9d9d9;
  --grey: #f2f2f2;
  --light-blue: #deebff;
}

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 70px;
}

.navbar li {
  cursor: pointer;
}

.navbar li:hover a {
  padding-top: 10px;
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

.logo {
  width: 61.09px;
  height: 19px;
}

/* --    SEARCH-SECTON    --*/

.search-section h1 {
  font-size: 22px;
  font-weight: 700;
  padding: 5px 0;
  margin-top: 30px;
}

.search-section p {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
}

.search-section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.search-section div i {
  text-align: center;
  line-height: 49px;
  height: 49px;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}

.search-section div input {
  border: none;
  font-size: 18px;
  font-weight: 700;
  height: 49px;
  padding-left: 10px;
  border: 1px solid var(--grey);
}

.search-section div input .placeholder {
  color: black;
}

.search-section div button {
  background-color: var(--primary-color);
  border: none;
  padding: 15px, 16px, 15px, 16px;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
  cursor: pointer;
  height: 49px;
  width: 10%;
}

div .fa-solid.fa-magnifying-glass {
  display: none;
}

/*--  FILTERS-SECTION --*/
.filters-section {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.filters-title {
  margin-top: 18px;
}

.filters-title h2 {
  margin-right: 15px;
}

.filters-box {
  display: flex;
  flex-direction: row;
}

.filters-box :hover {
  background-color: var(--light-blue);
}

.button-filter {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: 2px solid var(--dark-grey);
  border-radius: 25px;
  margin: 8px 25px 8px 0;
}

.button-filter i {
  font-weight: 700;
  padding-right: 10px;
  color: var(--primary-color);
}

.button-filter p {
  font-weight: 700;
  padding-left: 6px;
  font-size: 16px;
}

/*--  INFO-SECTION --*/
.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.info-section i {
  border: 1px solid var(--dark-grey);
  border-radius: 100%;
  padding: 5px 10px;
  color: #0065fc;
}

/* --                            hébérgement-populaire                          --*/
#lodging-popular {
  display: flex;
  justify-content: space-between;
}

#lodging-popular section {
  background-color: var(--grey);
  padding: 30px;
  border-radius: 15px;
}

.hebergement {
  width: 64%;
  margin-right: 20px;
}

#lodging-popular h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.lodging-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.lodging-card .card {
  width: 30%;
  height: 185px;
  padding-bottom: 15px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.img-card img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  border: 5px;
  object-fit: cover;
  padding: 5px;
}

.card-content {
  padding-left: 10px;
}

.card-content h3 {
  font-size: 15px;
  font-weight: 700;
}

.card-subtitle {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
}

.price {
  font-weight: 600;
  font-size: 14px;
}

.card-rating {
  color: var(--primary-color);
}

.grey-star {
  color: var(--dark-grey);
  display: inline;
}

.third-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
}

/*   --- POPULAR SECTION ---- */
.populaire {
  width: 33%;
}

.populaire .title-part {
  display: flex;
  justify-content: space-between;
}

.populaire .title-part i {
  margin-top: 5px;
  color: var(--primary-color);
}

.card-populaire {
  display: flex;
  flex-direction: column;
  width: 369px;
  gap: 30px;
}

.popular-card {
  background-color: white;
  width: 88%;
  height: 130px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  display: flex;
}

.card-img {
  width: 40%;
}

.card-img img {
  object-fit: cover;
  width: 90%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  border: 0 5px 5px white;
  padding: 5px 0 5px 5px;
}

.content-card {
  width: 70%;
  height: 134px;
  gap: 24px;
}

.content-card div {
  width: 226px;
  height: 83px;
  gap: 5px;
}

.content-card .card-rating {
  margin-top: 20px;
}

.card-title {
  flex-wrap: wrap;
  padding: 10px 0 5px 0;
  font-size: 16px;
  line-height: 18.78px;
  font-weight: 700;
}

.content-card p {
  margin: 0;
}

/*---               ACTIVITIES SECTION                        ---*/
.activities h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin: 60px 0 30px 30px;
}

.activities .elements {
  display: flex;
  padding: 0 30px;
  gap: 30px;
}

.card-element {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  width: 100%;
  height: 350px;
}

.img-element img {
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.text-element h3 {
  text-align: left;
  padding: 10px 0 0 15px;
  height: 59px;
  font-size: 16px;
  font-weight: 700;
}

/* FOOTER */
.box {
  display: flex;
  flex-direction: row;
  gap: 20%;
  width: 100%;
  height: 150px;
  background-color: var(--grey);
  margin-top: 65px;
  padding-top: 20px;
}

.box ul {
  list-style-type: none;
  padding-left: 0px;
}

.box li {
  padding-top: 15px;
}

.box div {
  padding-left: 20px;
}

div h3 {
  font-weight: 700;
  font-size: 18px;
}

/* -- 
MEDIA QUERY 
--> HEADER  
--*/

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar ul {
    padding: 20px;
  }

  .navbar img {
    margin: 20px;
  }

  .navbar li:hover a {
    padding-bottom: 10px;
    border-top: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  .search-section {
    padding: 0 20px;
  }

  .search-section h1 {
    font-size: 20px;
  }

  .search-section p {
    font-size: 14px;
  }

  /* -- magnifying-button  --*/
  .search-section div button {
    display: none;
  }

  .search-section div {
    width: 100%;
  }

  .search-section div input {
    width: 90%;
  }

  .search-section div i {
    width: 25%;
  }

  div .fa-solid.fa-magnifying-glass {
    display: inline;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px 10px 10px 10px;
    width: 25%;
  }

  div .fa-solid.fa-magnifying-glass:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  /* -- filters-part  --*/
  .filters-section {
    display: grid;
    gap: 0;
    padding: 0 20px;
  }

  .filters-title {
    margin-top: 0;
  }

  .filters-title h2 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .button-filter {
    padding: 10px;
  }

  .button-filter p {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding-left: 15px;
  }

  .button-filter i {
    width: 10%;
    height: 12px;
  }

  .filters-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(0%, 1fr));
    align-items: center;
  }

  .info-section {
    padding: 0 20px;
  }

  .info-section p {
    font-size: 12px;
  }

  /*    CARDS SECTION    */
  /* lodging-part */
  #lodging-popular section {
    border-radius: 0%;
  }

  #lodging-popular .hebergement {
    background-color: white;
    width: 100%;
  }

  #lodging-popular {
    display: flex;
    flex-direction: column;
  }

  #lodging-popular .card {
    width: 100%;
  }

  .card-element :nth-child(1) {
    order: 1;
  }

  .card-element :nth-child(2) {
    order: 6;
  }

  .card-element :nth-child(3) {
    order: 3;
  }

  .card-element :nth-child(4) {
    order: 4;
  }

  .card-element :nth-child(5) {
    order: 2;
  }

  .card-element :nth-child(6) {
    order: 5;
  }

  .third-title {
  }

  /* popular-part */
  #lodging-popular {
    display: flex;
    flex-direction: column-reverse;
  }

  #lodging-popular .populaire {
    width: 100%;
    height: 510px;
    padding: 0 20px;
  }

  .populaire .title-part {
    margin-top: 20px;
  }

  .populaire .card-populaire {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .card-populaire .popular-card {
    width: 100%;
    height: 130px;
  }

  .card-img img {
    width: 100px;
    height: 100%;
  }

  .content-card div {
    width: 90%;
    padding-left: 5px;
  }

  /* --       ACTIVITIES - SECTION      --*/
  .activities h2 {
    margin-top: 20px;
  }

  .activities .elements {
    flex-direction: column;
    gap: 15px;
  }

  .elements .card-element {
    height: 160px;
  }

  .card-element .img-element {
    height: 110px;
    width: 100%;
  }

  .img-element img {
    max-height: 110px;
  }

  .text-element {
    padding: 5px;
  }

  .text-element h3 {
  }

  /* --       FOOTER      --*/
  footer {
    background-color: var(--grey);
    height: 10%;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 65px;
  }
}

/*
Version tablette
*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    margin-bottom: 50px;
  }

  .filters-section {
    flex-direction: column;
  }

  .filters-title {
    margin-bottom: 10px;
  }

  .search-section div button {
    width: 15%;
  }

  #lodging-popular {
    flex-direction: column;
  }

  .hebergement {
    width: 100%;
    margin-bottom: 50px;
  }

  .populaire {
    width: 100%;
    height: 252px;
    display: flex;
    flex-direction: column;
  }

  .card-populaire {
    flex-direction: row;
    gap: 20px;
    width: auto;
  }

  .popular-card {
    height: 150px;
  }

  .card-img {
    width: 35%;
  }

  .card-img img {
    width: 100%;
  }

  .content-card {
    width: 65%;
  }

  .content-card div {
    width: auto;
  }

  .card-title {
    font-size: 16px;
    padding-left: 10px;
  }

  .content-card .card-subtitle {
    padding-left: 10px;
  }

  .content-card .card-rating {
    margin-top: 35px;
    padding-left: 10px;
  }

  .card-element {
    width: 80%;
    height: 250px;
    margin-bottom: 40px;
  }

  .img-element {
    width: 100%;
  }

  .img-element img {
    width: 100%;
    height: 190px;
  }
}
