@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", "sans sérif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0065fc;
  --light-blue: #deebff;
  --dark-grey: #d9d9d9;
  --grey: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
}

/*
NAV-BAR-SECTION
*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 70px;
}

.navbar li {
  cursor: pointer;
}

.navbar li:hover a {
  padding-top: 10px;
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

.logo {
  width: 61.09px;
  height: 19px;
}

/*
FORM-SECTION
*/
.search-section h1 {
  font-size: 22px;
  font-weight: 700;
  padding: 5px 0;
  margin-top: 30px;
}

.search-section p {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
}

.search-section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.search-section div i {
  text-align: center;
  line-height: 49px;
  height: 49px;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}

.search-section div input {
  font-size: 18px;
  font-weight: 700;
  height: 49px;
  width: 15%;
  padding-left: 10px;
  border: 1px solid var(--grey);
}

input::placeholder {
  color: black;
}

.search-section div button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
  cursor: pointer;
  height: 49px;
  width: 12%;
}

.fa-solid.fa-magnifying-glass {
  display: none;
}

/*
FILTERS-SECTION
*/
.filters-section {
  margin: 30px 0;
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.filters-title {
  padding-top: 6px;
}

.filters-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filters-box :hover {
  background-color: var(--light-blue);
}

.button-filter {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--dark-grey);
  border-radius: 25px;
  padding: 12px 19px 12px 19px;
  cursor: pointer;
}

.button-filter i {
  color: var(--primary-color);
  max-width: 22px;
  max-height: 16px;
  margin: 2px 10px 0 0;
}

.button-filter p {
  font-weight: 700;
  font-size: 17px;
}

/*
INFO-SECTION
*/
.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.info-section i {
  border: 1px solid var(--dark-grey);
  border-radius: 100%;
  padding: 4px 10px 6px 10px;
  color: #0065fc;
}

.info-section p {
  font-size: 16px;
  font-weight: 400;
}

/*
HEBERGEMENT-POPULAIRE---SECTION
*/
#lodging-popular {
  display: flex;
  justify-content: space-between;
}

#lodging-popular section {
  background-color: var(--grey);
  padding: 25px;
  border-radius: 15px;
  height: 530px;
}

.hebergement {
  width: 64%;
  margin-right: 20px;
}

#lodging-popular h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.lodging-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 20px;
}

.lodging-card .card {
  width: 30%;
  height: 180px;
  padding-bottom: 15px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.img-card {
  width: 100%;
  height: 104px;
}

.img-card img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 4px;
}

.card-content {
  padding-left: 10px;
}

.card-content h3 {
  font-size: 16px;
  font-weight: 700;
}

.card-subtitle {
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
}

.price {
  font-weight: 600;
  font-size: 12px;
}

.card-rating {
  color: var(--primary-color);
}

.grey-star {
  color: var(--dark-grey);
  display: inline;
}

h2 a {
  font-size: 18px;
  font-weight: 700;
}

/*
POPULAR-SECTION
*/
.populaire {
  width: 33%;
}

.populaire .title-part {
  display: flex;
  justify-content: space-between;
}

.populaire .title-part i {
  margin-top: 5px;
  color: var(--primary-color);
}

.card-populaire {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.popular-card {
  background-color: white;
  width: 100%;
  height: 120px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  display: flex;
}

.card-img {
  width: 35%;
  height: 100%;
}

.card-img img {
  object-fit: cover;
  width: 85%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  border: 0 5px 5px white;
  padding: 4px 0 4px 4px;
}

.content-card {
  width: 65%;
  height: 100px;
}

.content-card div {
  width: 100%;
  height: 90px;
}

.card-title {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

/*
ACTIVITIES SECTION
*/
.activities h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 60px 0 30px 30px;
}

.activities .elements {
  display: flex;
  padding: 0 30px;
  gap: 30px;
  flex-direction: center;
}

.card-element {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  width: 295px;
  height: 370px;
}

.card-element:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.img-element {
  width: 100%;
  height: 380px;
}

.img-element img {
  width: 100%;
  height: 320px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.text-element h3 {
  text-align: left;
  padding: 10px 0 0 15px;
  height: 59px;
  font-size: 16px;
  font-weight: 700;
}

/*
FOOTER
*/
.box {
  display: flex;
  flex-direction: row;
  gap: 20%;
  width: 100%;
  height: 160px;
  background-color: var(--grey);
  margin-top: 65px;
  padding-top: 20px;
}

.box ul {
  list-style-type: none;
  padding-left: 0px;
}

.box li {
  padding-top: 15px;
}

.box div {
  padding-left: 20px;
}

div h3 {
  font-weight: 700;
  font-size: 18px;
}

/* -- 
MEDIA QUERY 
--> Version-mobile  
--*/

@media (max-width: 767.9px) {
  .container {
    padding: 0;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar ul {
    padding: 20px;
    border-bottom: 2px solid var(--grey);
  }

  .navbar li:hover a {
    padding-bottom: 20px;
    border-top: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    width: 187.5px;
  }

  .navbar img {
    margin-bottom: 20px;
  }

  /*
  FORM-SECTION
  */

  .search-section {
    padding: 0 20px;
  }

  .search-section h1 {
    font-size: 20px;
  }

  .search-section p {
    font-size: 14px;
  }

  .search-section div button {
    display: none;
  }

  .search-section div {
    width: 100%;
  }

  .search-section div input {
    width: 90%;
  }

  .search-section div i {
    width: 25%;
  }

  div .fa-solid.fa-magnifying-glass {
    display: inline;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px 10px 10px 10px;
    width: 25%;
  }

  div .fa-solid.fa-magnifying-glass:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  /*
  filters-part
  */
  .filters-section {
    display: grid;
    gap: 0;
    padding: 0 20px;
  }

  .filters-title {
    margin-top: 0;
  }

  .filters-title h2 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .filters-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(0%, 1fr));
    align-items: center;
  }

  .button-filter {
    height: 45px;
    padding: 12px 15px;
  }

  .button-filter i {
    height: 10px;
  }

  .button-filter p {
    font-weight: 700;
    font-size: 13px;
  }

  .info-section {
    padding: 0 20px;
  }

  .info-section p {
    font-size: 12px;
  }

  /*    CARDS SECTION    */
  /* lodging-part */
  #lodging-popular section {
    border-radius: 0%;
  }

  #lodging-popular .hebergement {
    background-color: white;
    width: 100%;
    height: 1380px;
  }

  #lodging-popular {
    display: flex;
    flex-direction: column;
  }

  #lodging-popular .card {
    width: 100%;
  }

  /* popular-part */
  #lodging-popular {
    display: flex;
    flex-direction: column-reverse;
  }

  #lodging-popular .populaire {
    width: 100%;
    height: 510px;
    padding: 0 20px;
  }

  .populaire .title-part {
    margin-top: 20px;
  }

  .populaire .card-populaire {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .card-populaire .popular-card {
    width: 100%;
    height: 130px;
  }

  .card-img img {
    width: 100px;
    height: 100%;
  }

  .content-card {
    width: 90%;
    padding-left: 10px;
  }

  .content-card .card-rating {
    margin-top: 15px;
  }

  /* --       ACTIVITIES - SECTION      --*/
  .activities h2 {
    margin-top: 20px;
  }

  .activities .elements {
    flex-direction: column;
    gap: 15px;
  }

  .elements .card-element {
    height: 160px;
    width: 100%;
  }

  .card-element .img-element {
    height: 110px;
    width: 100%;
  }

  .img-element img {
    max-height: 110px;
  }

  .text-element {
    padding: 5px;
  }

  /* --       FOOTER      --*/
  footer {
    background-color: var(--grey);
    height: 410px;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 65px;
  }
}

/*
Version tablette
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    margin-bottom: 50px;
  }

  .filters-section {
    flex-direction: column;
  }

  .filters-title {
    margin-bottom: 10px;
  }

  .search-section div input {
    width: 26%;
  }

  .search-section div button {
    width: 20%;
  }

  .button-filter p {
    font-weight: 700;
    font-size: 14px;
  }

  #lodging-popular {
    flex-direction: column;
  }

  .hebergement {
    width: 100%;
    margin-bottom: 50px;
  }

  .card-content h3 {
    font-size: 14px;
    font-weight: 700;
  }

  #lodging-popular .populaire {
    height: 252px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-populaire {
    flex-direction: row;
    gap: 10px;
    width: auto;
  }

  .popular-card {
    height: 110px;
    width: 80%;
  }

  .card-img {
    width: 35%;
  }

  .card-img img {
    width: 100%;
    padding: 3px 0 3px 3px;
  }

  .content-card {
    width: 65%;
  }

  .content-card .card-title {
    font-size: 11.5px;
    font-weight: 700;
    padding-left: 10px;
  }

  .content-card .card-subtitle {
    padding-left: 10px;
    font-size: 11px;
  }

  .content-card .card-rating {
    padding-left: 10px;
    font-size: 12px;
  }

  .activities .elements {
    gap: 15px;
  }

  .card-element {
    width: 90%;
    height: 200px;
  }

  .card-element .img-element {
    width: 100%;
  }

  .img-element img {
    width: 100%;
    height: 150px;
  }

  .text-element h3 {
    font-size: 12px;
    padding-top: 8px;
  }

  .box div a {
    font-size: 14px;
  }
  div h3 {
    font-weight: 700;
    font-size: 15px;
  }
  .box {
    gap: 10%;
  }
}
